{% extends "bootstrap/base.html" %} {% block title %} {{ title }} // _wheelo
{%endblock %} {% block styles %} {{ super() }}
<link
  href="{{url_for('static', filename='css/styles.css')}}"
  rel="stylesheet"
/>
<link
  rel="shortcut icon"
  href="{{ url_for('static', filename='w_c_favicon.ico') }}"
/>
<link
  rel="stylesheet"
  href="//use.fontawesome.com/releases/v6.0.0/css/all.css"
/>
{% endblock %} {% block navbar%}
<div class="logo-container">
  <div class="logo" id="logo-underscore">_</div>
  <div class="logo">wheelo</div>
</div>

<nav class="sidenav">
  <div class="transition-nav"></div>

  <a
    href=" {{ url_for('main.index') }} "
    id="index"
    class="fas fa-home"
    title="home"
  >
  </a>

  <a href="#popular" id="popular" class="fas fa-car" title="popular"> </a>

  {%if current_user.is_authenticated%} {% if current_user.admin %}
  <a
    href="{{ url_for('auth.admin') }}"
    id="auth-complete"
    class="fa-solid fa-user-check"
    title="users list"
  >
  </a>
  {% endif %} {% else %}
  <a
    href="{{ url_for('auth.login') }}"
    id="auth"
    class="fas fa-user"
    title="login"
  >
  </a>
  {% endif %}

  <a
    href="{{ url_for('main.contact') }}"
    id="contact"
    class="fas fa-phone"
    title="contact us"
  >
  </a>

  <a
    href="{{ url_for('main.questions') }}"
    id="questions"
    class="fas fa-question-circle"
    title="FAQs"
  >
  </a>

  {%if current_user.is_authenticated%}
  <a
    href="{{ url_for('auth.logout') }}"
    id="logout"
    class="fas fa-arrow-right-from-bracket"
    title="logout"
  >
  </a>

  {% endif %}
</nav>
{% endblock %} {% block content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <div class="alert alert-{{ category }} text-center">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </a>
    {{ message }}
  </div>
  {% endfor %} {% endif %} {% endwith %}

  <div class="row">
    {# application content needs to be provided in the app_content block #} {%
    block app_content %}{% endblock %}
  </div>
</div>
{% endblock %} {% block scripts %} {{ super() }}
<script src="{{ url_for('static', filename='js/raty/lib/jquery.raty.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Example Company",
    "hasMap": "https://goo.gl/maps/K6HRevCC2m82QTbF8"
  }
</script>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<script>
  $(".carousel").swipe({
    swipe: function (
      event,
      direction,
      distance,
      duration,
      fingerCount,
      fingerData
    ) {
      if (direction == "left") $(this).carousel("next");
      if (direction == "right") $(this).carousel("prev");
    },
    allowPageScroll: "vertical",
  });
</script>

{% endblock %}
