{% extends "bootstrap/base.html" %} 
{% block title %} 
  {{ title }} / CarSell
{%endblock %} 

{% block styles %} 
  {{ super() }}
  <link
    href="{{url_for('static', filename='css/styles.css')}}"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="//use.fontawesome.com/releases/v6.0.0/css/all.css"
  />
  <link 
    rel="shortcut icon" 
    href="{{url_for('static', filename='logos/2_transparent_icon2.ico')}}"
  />
{% endblock %}

{% block navbar%}

  <nav class="navbar navbar-custom navbar-fixed-top">
    <a class="navbar-brand" href="{{url_for('main.index')}}">
      <img src="static/logos/CarSell_logo_main3.3.png" width="60" height="60" alt="">
    </a>
    <a
      href=" {{ url_for('main.index') }} "
      id="index"
      class="fas fa-home navbar-text"
      title="home"
    > Home
    </a>

    <a href="#popular" id="popular" class="fas fa-car navbar-text" title="popular"> </a>

    <a
      href="{{ url_for('main.contact') }}"
      id="contact"
      class="fas fa-phone navbar-text"
      title="contact us"
    > Contact Us
    </a>

    <a
      href="{{ url_for('main.FAQs') }}"
      id="questions"
      class="fas fa-question-circle navbar-text"
      title="FAQs"
    > FAQs
    </a>

    {%if current_user.is_authenticated%} {% if current_user.admin %}
    <a
      href="{{ url_for('auth.admin') }}"
      id="auth-complete"
      class="fa-solid fa-user-check navbar-text"
      title="users list"
    > Users List
    </a>
    {% endif %} {% else %}
    <a
      href="{{ url_for('auth.login') }}"
      id="auth"
      class="fas fa-user navbar-text"
      title="login"
    > Login
    </a>
    {% endif %}

    {%if current_user.is_authenticated%}
    <a
      href="{{ url_for('auth.logout') }}"
      id="logout"
      class="fas fa-arrow-right-from-bracket navbar-text"
      title="logout"
    > Logout
    </a>

    {% endif %}
  </nav>
{% endblock %} 

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} text-center">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </a>
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="row">
      {# application content needs to be provided in the app_content block #} {%
      block app_content %}{% endblock %}
    </div>
  </div>

  <div id="footer" class="footer"> 
    <p class="text-muted text-center">
      &copy; <script>document.write(new Date().getFullYear())
      </script>, CarSell
    </p>

    <a href="https://rva.org.uk/neighbourhood-newsletters/" class="text-muted fas fa-newspaper"> Reading Neighborhood Newsletters </a>
  </div>
{% endblock %} 

{% block scripts %} 
  {{ super() }}


  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Example Company",
      "hasMap": "https://goo.gl/maps/K6HRevCC2m82QTbF8"
    }
  </script>

  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

  <script>
    $(".carousel").swipe({
      swipe: function (
        event,
        direction,
        distance,
        duration,
        fingerCount,
        fingerData
      ) {
        if (direction == "left") $(this).carousel("next");
        if (direction == "right") $(this).carousel("prev");
      },
      allowPageScroll: "vertical",
    });
  </script>

  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("pressed");
        var rssFeed = this.nextElementSibling;
        if (rssFeed.style.maxHeight){
          rssFeed.style.maxHeight = null;
        } else {
          rssFeed.style.maxHeight = rssFeed.scrollHeight + "px";
        }

      });
    }
  </script>

  <script>
    var coll = document.getElementsByClassName("collapsibleQ");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("pressedQ");
        var questionCol = this.nextElementSibling;
        if (questionCol.style.maxHeight){
          questionCol.style.maxHeight = null;
        } else {
          questionCol.style.maxHeight = questionCol.scrollHeight + "px";
        }

      });
    }
  </script>
{% endblock %}
