{% extends "bootstrap/base.html" %}
{% block title %}
    {{ title }}  // _wheelo
{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='w_c_favicon.ico') }}">
{% endblock %}


{% block navbar%}
<nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">

</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="row">
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/raty/lib/jquery.raty.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}