{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	<div class="container">
		<form class="checkout form form-horizontal" method="post" role="form">
			<h2 style="text-align:center;"> Checkout </h2>

			<div class="personal-details">
				<h3> Contact Details </h3>
				{{wtf.form_field(form.name)}}
				{{wtf.form_field(form.email)}}
				{{wtf.form_field(form.contactNumber)}}

				<br>
				
				<h3> Address </h3>
				{{wtf.form_field(form.address_one)}}
				{{wtf.form_field(form.address_two)}}
				{{wtf.form_field(form.city)}}
				{{wtf.form_field(form.postcode)}}
			</div>
			<div class="card-details">
				<br>
				{% for t in trading %}
					{% if t.user_id == current_user.id %}
							<h3> Total to pay: £{{car.price}} - £{{t.trade_amount}} </h3>
					{% endif %}
				{% endfor %}
		
				<h4> Please enter payment details </h4>
				{{wtf.form_field(form.cardNum)}}
				{{wtf.form_field(form.expDate)}}
				{{wtf.form_field(form.csv)}}
			</div>

			<br>

			<div class="rounded_btn_div">
				{{wtf.form_field(form.submit, class="rounded_btn")}}
			</div>

		</form>
	</div>
{% endblock %}