{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="transition-page" id="cu"></div>
<div class="row fade-in-content">
	<div class="col-md-4 col-md-offset-4">
		<h3 style="text-align: center;"> CONTACT US HERE: </h3>
		<form class="form form-horizontal" method="post" role="form">
			{{ form.hidden_tag() }}
			{{ wtf.form_errors(form, hiddens="only") }}
			
			{% if current_user.is_authenticated == False %}
			{{wtf.form_field(form.name)}}
			{{wtf.form_field(form.email)}}
			{{wtf.form_field(form.contactNumber)}}
			{% else %}
			<h1>Hi, @{{ current_user.username }}!</h1>
			<p>type in the message below to contact us</p>
			{% endif %}
			{{wtf.form_field(form.message)}}
			{{wtf.form_field(form.submit, class="btn btn-info btn-block")}}
		</form>

		<br>
		<hr>
		<br>

		<h3 style="text-align: center;"> ALTERNATIVELY: </h3>
		<P> Call us on: 01234567891 </P>
		<p> Email us at: info@_wheelo.com </p>
	</div>
</div>
<br>

{% endblock %}