{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block
app_content %}
<div class="transition-page" id="hm"></div>
<div class="row fade-in-content">
  <br />

  <div class="container" style="padding-left: 90px">
    <div id="information_carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li
          data-target="#information_carousel"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#information_carousel" data-slide-to="1"></li>
        <li data-target="#information_carousel" data-slide-to="2"></li>
        <li data-target="#information_carousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a
            href="https://www.rac.co.uk/drive/advice/how-to/reducing-the-cost-of-insurance-for-new-drivers/"
          >
            <img src="static/information_slide_pics/slide_one.png" />
          </a>
        </div>
        <div class="item">
          <a
            href="https://www.autoexpress.co.uk/first-cars/64339/top-10-best-first-cars-new-drivers-2022"
          >
            <img src="static/information_slide_pics/slide_two.png" />
          </a>
        </div>
        <div class="item">
          <a
            href="https://www.rac.co.uk/drive/advice/know-how/car-dashboard-warning-lights-meaning/"
          >
            <img src="static/information_slide_pics/slide_three.png" />
          </a>
        </div>
        <div class="item">
          <a href="https://www.readingchronicle.co.uk/news/">
            <img
              src="static/social_media_icons/reading_chronicle_logo.jpg"
              alt="The Reading Chronicles Link"
            />
          </a>
        </div>
      </div>

      <!-- Controls -->
      <a
        class="left carousel-control"
        href="#information_carousel"
        role="button"
        data-slide="prev"
      >
        <span
          class="glyphicon glyphicon-chevron-left"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="right carousel-control"
        href="#information_carousel"
        role="button"
        data-slide="next"
      >
        <span
          class="glyphicon glyphicon-chevron-right"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <br />
  </div>

  <br>

  <!-- 
  <h1 style="text-align: center">Wheelo's Most Popular</h1>
  <div class="container">
    <div class="flex-container">

      </div>
    </div>
  </div>
  -->

  <div class="collapsible-rss">
    <!--make rss feed collapsible --> 
    <button type="button" class="collapsible"> Open Motor Authority News</button>

    <!-- RSS Feed -->
    <div class="rssFeed">
      <script src="//rss.bloople.net/?url=https%3A%2F%2Ffeeds.highgearmedia.com%2F%3Fsites%3DMotorAuthority&limit=5&showtitle=false&type=js"></script>
    </div>
  </div>
</div>

{% endblock %}
