{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block
app_content %}
<div class="row fade-in-content">

<!-- INFORMATION CAROUSEL HERE -->
    <div class="container">
      <div id="information_carousel" class="carousel " data-bs-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li
            data-target="#information_carousel"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#information_carousel" data-slide-to="1"></li>
          <li data-target="#information_carousel" data-slide-to="2"></li>
          <li data-target="#information_carousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <a
              href="https://www.rac.co.uk/drive/advice/how-to/reducing-the-cost-of-insurance-for-new-drivers/"
            >
              <img src="static/information_slide_pics/slide_one.png" />
            </a>
          </div>
          <div class="item">
            <a
              href="https://www.autoexpress.co.uk/first-cars/64339/top-10-best-first-cars-new-drivers-2022"
            >
              <img src="static/information_slide_pics/slide_two.png" />
            </a>
          </div>
          <div class="item">
            <a
              href="https://www.rac.co.uk/drive/advice/know-how/car-dashboard-warning-lights-meaning/"
            >
              <img src="static/information_slide_pics/slide_three.png" />
            </a>
          </div>
          <div class="item">
            <a href="https://www.readingchronicle.co.uk/news/">
              <img
                src="static/social_media_icons/reading_chronicle_logo.jpg"
                alt="The Reading Chronicles Link"
              />
            </a>
          </div>
        </div>

        <!-- Controls -->
        <a
          class="left carousel-control"
          href="#information_carousel"
          role="button"
          data-slide="prev"
        >
          <span
            class="glyphicon glyphicon-chevron-left"
            aria-hidden="true"
          ></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="right carousel-control"
          href="#information_carousel"
          role="button"
          data-slide="next"
        >
          <span
            class="glyphicon glyphicon-chevron-right"
            aria-hidden="true"
          ></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br />
    </div>

<!--BLOG HERE -->
    <div class="blog">
      <h1>Blog | <a href="{{ url_for('main.newPost') }}">New post</a></h1>
      <br />
      {%for p in posts %}
      <div class="blog-post">
        <p class="smaller-blog-info">
          @{{ p.user.username }} {{ p.created_at.strftime('%Y-%m-%d') }} {% if
          current_user.id == p.user_id %} |
          <a href="{{ url_for('main.editPost', id = p.id) }}" class="clickme">
            edit
          </a>
          |
          <a
            href="{{ url_for('main.delPost', id = p.id) }}"
            class="text-danger clickme"
          >
            delete
          </a>
          {% elif current_user.admin %} |
          <a
            href="{{ url_for('main.delPost', id = p.id) }}"
            class="text-danger clickme"
          >
            delete
          </a>
          {% endif %}
        </p>
        <p class="norm-blog-info">{{ p.caption }}</p>
      </div>
      {% endfor %}
    </div> 

<!-- MOST POPULAR HERE -->
    <h3 style="text-align: center">CarSell's Most Popular</h3>
    <div class="container">
      <div class="flex-container">
    <!--{% for car in popular_for_render %}
          {% if car.popular == "true" %}
            <img src="{{ url_for('static', filename='car_pics/' + car.pictures + '.jpg') }}">
          {% endif %}
        {% endfor %}-->
        <div>
          <img class="popular_items" src="static/car_pics/C1_blue_08.jpg">
          <p class="popular_text"> Citroen C1 </p>
        </div>
        <div>
          <img class="popular_items" src="static/car_pics/Polo_black_09.jpg">
          <p class="popular_text"> Volkswagon Polo </p>
        </div>
        <div>
          <img class="popular_items" src="static/car_pics/Corsa_black_02.jpg">
          <p class="popular_text"> Vauxhall Corsa </p>
        </div>
        <div>
          <img class="popular_items" src="static/car_pics/Picanto_white_10.jpg">
          <p class="popular_text"> Kia Picanto </p>
        </div>
        <div>
          <img class="popular_items" src="static/car_pics/Fiesta_blue_04.jpg">
          <p class="popular_text"> Ford Fiesta </p>
        </div>
      </div>
    </div>

<!--RSS FEED HERE -->
    <div class="collapsible-rss">
      <!--make rss feed collapsible -->
      <button type="button" class="collapsible">Open Motor Authority News RSS Feed</button>
      <!-- RSS Feed -->
      <div class="tagembed-container rssFeed" style=" width:100%;height:100%;overflow: auto;"><div class="tagembed-socialwall" data-wall-id="35011" view-url="https://widget.tagembed.com/35011?view">  </div> <script src="//widget.tagembed.com/embed.min.js" type="text/javascript"></script></div>
    </div>
  </div>

{% endblock %}
