{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} 
{% block app_content %}
  
<div class="row fade-in-content">
  <div class="index-upper">
    <img src="{{ url_for('static', filename='index_pic.png') }}" id="index_pic"/>
    <form
    class="review-form"
    method="POST"
    action="{{ url_for('main.viewSearchedCars') }}">

        <div class="search-field" id="make">
          <label for="make" id="make-text"><h1 class="make-text">Make</h1></label>
          <div class="select-box-content">
            <select class="select-make-box" name="make" id="make">
              <option class="option" name="any">any</option>
              {% for get in makes %}
                <option class="option" name="{{get.make_name}}">{{get.make_name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        
        <div class="search-field" id="model">
          <label for="model"><h1 id="model-text">Model</h1></label>   
          <div class="select-model-box">
            <input type="text" id="model" name="model"/>
          </div>
        </div>
        
        <div class="search-field" id="color">
          <label for="color"><h1 id="color-text">Color</h1></label>  
          <div class="select-color-box">
            <input type="text" id="color" name="color" />
          </div>
        </div>
        
        <div class="search-field" id="registration">
          <label for="registration_1"><h1 id="registration-text">Registration</h1></label>  
          <select class="select-reg-box" name="registration_1" id="registration_1">
            <option class="option" name="reg" #id="0"></option>
            {% for y in range(2022,1941,-1) %}
            <option class="option" name="reg" #id="{{y}}">{{y}}</option>
            {% endfor %}
          </select>
          <label for="registration_2"></label>  
          <select class="select-reg-box" name="registration_2" id="registration_2">
                <option class="option" name="reg" #id="0"></option>
                {% for y in range(2022,1941,-1) %}
                  <option class="option" name="reg" #id="{{y}}">{{y}}</option>
                {% endfor %}
              </select>
          </div>
        </div>
        
        <div class="search-field" id="price">
          <label for="price_1"><h1 id="price-text">Price</h1></label>
          <label for="price_2"></label>
          <div class="select-price-box">
            <input type="text" id="price_1" name="price_1" />
            <input type="text" id="price_2" name="price_2" />
          </div>
        </div>
        
        <div class="search-field" id="mileage">
          <label for="mileage_1"><h1 id="mileage-text">Mileage</h1></label>
          <label for="mileage_2"></label>
        <div class="select-mileage-box">
          <input type="text" id="mileage_1" name="mileage_1" />
          <input type="text" id="mileage_2" name="mileage_2" />
        </div>
        </div>
        
        <button type="submit" class="search-btn">Search</button>

    </form>
  </div>
    
        
      <div class="blog">
        {% if current_user.admin %}
          <h2 class="header-text" id="admin">Blog<a href="{{ url_for('main.newPost') }}" id="admin-new">"new"</a></h2> 
        {% else %}
          <h2 class="header-text" id="user">Blog</h2> 
        {% endif %}
        <a href="{{ url_for('main.Blog') }}" id="more" title="more">...</a>

        <div class="blog-box">
          {%for p in posts%}
            {% if p.id <= 5 %}
              <div class="story-box">
                
                {% if current_user.admin %}
                  <a href="{{ url_for('main.editPost', id = p.id) }}" 
                  class="box-edit" id="non-btn">edit</a>
                {% else %}
                  <a class="box-user" id="non-btn">edit</a>
                {% endif %}

                {%if p.picture != 'default.jpg' %}
                  <div >
                    <a class="center-img" href="{{ url_for('main.getPost', id = p.id) }}">
                      <img class="blog-pic"
                      src="{{ url_for('static', filename='post_pics/' + p.picture) }}">
                    </a>
                  </div>
                  <a href="{{ url_for('main.getPost', id = p.id) }}" class="blog-title" id="non-btn">{{ p.title }}</a>
                {% else %}
                  <a href="{{ url_for('main.getPost', id = p.id) }}" class="blog-title-solo" id="non-btn">{{ p.title }}</a>
                {% endif %}
                
              </div>
            {% endif %}
          {% endfor %}
        </div>

      </div>

    <!-- INFORMATION CAROUSEL HERE -->
    <div class="container">
      <div id="information_carousel" class="carousel " data-bs-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li
            data-target="#information_carousel"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#information_carousel" data-slide-to="1"></li>
          <li data-target="#information_carousel" data-slide-to="2"></li>
          <li data-target="#information_carousel" data-slide-to="3"></li>


        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="static/information_slide_pics/slide_one.png" />
            <div class="carousel-caption d-none d-md-block">
              <h4>Most Popular Car 2021 - Volkswagen UP! </h4>
            </div>
          </div>
          <div class="item">
            <a class="carousel-text" href="{{ url_for('main.trade_in') }}">
              <img src="static/information_slide_pics/slide_two.png" />
              <div class="carousel-caption d-none d-md-block">
                <h4>trade in your car for money off a new one</h4> 
              </div>
            </a>
          </div>
          <div class="item">
            <a class="carousel-text" href="{{ url_for('main.history') }}">
              <img src="static/information_slide_pics/slide_three.png" />
              <div class="carousel-caption d-none d-md-block">
                <h4>check vehicle history</h4>
              </div>
            </a>
          </div>
          <div class="item">
            <a class="carousel-text" href="{{ url_for('main.FAQs') }}">
              <img src="static/information_slide_pics/slide_four.png" />
              <div class="carousel-caption d-none d-md-block">
                <h4 style="color: black;">get all your questions answered</h4>
              </div>
            </a>
          </div>
        </div>

        <!-- Controls -->
        <a
          class="left carousel-control"
          href="#information_carousel"
          role="button"
          data-slide="prev"
        >
          <span
            class="glyphicon glyphicon-chevron-left"
            aria-hidden="true"
          ></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="right carousel-control"
          href="#information_carousel"
          role="button"
          data-slide="next"
        >
          <span
            class="glyphicon glyphicon-chevron-right"
            aria-hidden="true"
          ></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br />
    </div>


<!-- MOST POPULAR HERE -->
    <h3 style="text-align: center">CarSell's Most Popular</h3>
    <div class="container">
      <div class="flex-container">
        {% for car in cars %}
          {% if car.popular == "true" %}
            <div>
              <a href="{{ url_for('main.vehicle', id=car.id) }}">
                <img class="popular_item" src="{{ url_for('static', filename='car_pics/' + car.pictures + '/1.jpg') }}">
                <p class="popular_text">
                  {% for m in makes %}
                    {% if m.make_id == car.make_id %}
                      {{m.make_name}}
                    {% endif %}
                  {% endfor %}
                  {% for mod in models %}
                    {%if mod.model_id == car.model_id %}
                      {{mod.model_name}}
                    {% endif %}
                  {% endfor %}
                </p>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <br>

<!--RSS FEED HERE -->
    <div class="collapsible-rss">
      <!--make rss feed collapsible -->
      <button type="button" class="collapsible">Open Motor Authority News RSS Feed</button>
      <!-- RSS Feed -->
      <div class="tagembed-container rssFeed collapsibleBody" style=" width:100%;height:100%;overflow: auto;"><div class="tagembed-socialwall" data-wall-id="35011" view-url="https://widget.tagembed.com/35011?view">  </div> <script src="//widget.tagembed.com/embed.min.js" type="text/javascript"></script></div>
    </div>
  </div>

<!-- READING NEIGHBORHOOD NEWSLETTER -->
    <div>
      <a href="https://rva.org.uk/neighbourhood-newsletters/">
        <img class="rnn" src="static/rva_logo.png">
      </a>
    </div>

  </div>
{% endblock %}

