{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="transition-page" id="hm"></div>
<div class="row fade-in-content">
    <div class="container">
        <h1 style="text-align:center;"> Frequently Asked Questions </h1>
        <p style="text-align:center;"> If the answer to your question is not below, or you want some more information, then please do not hesitate to contact us </p>

        <hr style="background-color: rgb(75, 75, 75);">

        <h3 style="text-align: center;"> Who is Wheelo? </h3>
        <p> Wheelo is a used car sales company based in Reading. At Wheelo we buy and sell used cars that are cheap, economical and have low insurace costs for the young people in our community. </p>

        <br>

        <h3 style="text-align: center;"> Do I have to collect the vehicle or is it delivered?</h3>
        <p> All of our vehicles come with free driven delivery to your home address </p>

        <br>

        <h3 style="text-align: center;"> Do you offer warranty? </h3>
        <p> All vehicles over £1,500 have a free 3 month warranty </p>

        <br>

        <h3 style="text-align: center;"> Can I test drive before buying? </h3>
        <p> If you contact us we can arrange a test drive for you at our offices in Reading, please see our contact page on this site to find our location and contact details. </p>

    </div>
</div>
{% endblock %}