{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="transition-page" id="hm"></div>
<div class="row fade-in-content">
    <div class="container">
        <h1 style="text-align:center;"> Frequently Asked Questions </h1>
        <p style="text-align:center;"> If the answer to your question is not below, or you want some more information, then please do not hesitate to contact us </p>

        <hr style="background-color: rgb(75, 75, 75);">

    {%for q in faq %}
    <h3 style="text-align: center">{{ q.question }}</h3>
    <p>{{ q.answer }}</p>
    <br />
    {% endfor %}
      <div class="col-md-8">
        <form class="form-inline" method="post" role="form">
          {{ form.hidden_tag() }} 
          {{ wtf.form_errors(form, hiddens="only") }} 
          {{ wtf.form_field(form.question, class="msg-form-faq", placeholder="question") }}
          <br> 
          {{ wtf.form_field(form.name, class="name-form-faq pull-left", placeholder="name") }} 
          {{ wtf.form_field(form.submit, class="btn btn-info") }}
        </form>
      </div>
  </div>
</div>
{% endblock %}
