{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Delete question {{question.id}} by {{question.name}}?</h3>
                </div>
                <div class="panel-body">
                    {{ wtf.quick_form(form, button_map={'delete':'danger', 'cancel' : 'default'}, extra_classes="text-muted") }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}