{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block
app_content %}
<div class="row fade-in-content">
  <div class="faqs">
    <h2 style="text-align: center">Frequently Asked Questions</h2>
    <p style="text-align: center;">
      If the answer to your question is not below, or you want some more
      information, then send as a <a href="#query" class="clickme">question</a>
    </p>

    {% if current_user.admin %}
      <a href="{{ url_for('main.viewAllQuestions') }}" class="pull-right clickme">
        view all
      </a>
      <br />
    {% endif %} 
    {%for q in questions %} 
      {% if q.display == True %} 
        {% if current_user.admin and current_user.is_authenticated %}
          <h3 style="text-align: left">
            {{ q.question }} |
            <a href="{{ url_for('main.editQuestion', id = q.id) }}" class="clickme">
              edit
            </a>
            |
            <a
              href="{{ url_for('main.delQuestion', id = q.id) }}"
              class="text-danger clickme"
            >
              delete
            </a>
          </h3>
          <p>{{ q.answer }}</p>
        {% else %}
          <button type="button" class="collapsibleQ">{{ q.question }}</button>
          <div class="questionCol">
            <p>{{ q.answer }}</p>
          </div>
        {% endif %}
        <!--<p class="q-auth">asked by {{ q.name }}</p>-->
        <br />
      {% endif %} 
    {% endfor %}

    <h3 style="text-align: center;" id="query">Query form</h3>
    <div class="FAQuery-form">
      <div class="col-md-4 col-md-offset-4">
        <form class="form form-horizontal" method="post" role="form">
          {{ form.hidden_tag() }} 
          {{ wtf.form_errors(form, hiddens="only") }} 

          {{ wtf.form_field(form.question) }}
          {{ wtf.form_field(form.name) }} 
          {{ wtf.form_field(form.submit, class="btn btn-info btn-block") }}
          </form>
        </div>
      </div>
    </div>
  {% endblock %}
</div>
