{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block
app_content %}

<div class="row fade-in-content">
  <h1>List of all questions:</h1>
  {%for q in questions %}
  <br />
  <h3 style="text-align: left">
    {{ q.question }}
    |
    <a href="{{ url_for('main.editQuestion', id = q.id) }}" class="clickme">
      edit
    </a>
    |
    <a
      href="{{ url_for('main.delQuestion', id = q.id) }}"
      class="text-danger clickme"
    >
      delete
    </a>
    | {% if q.display %}
    <a href="{{ url_for('main.changeVisibility', id = q.id) }}" class="clickme">
      hide
    </a>
    {% else %}
    <a href="{{ url_for('main.changeVisibility', id = q.id) }}" class="clickme">
      show
    </a>
    {% endif %}
  </h3>
  <p>{{ q.answer }}</p>
  <p class="q-auth">asked by {{ q.name }}</p>
  <hr style="background-color: rgb(75, 75, 75)" />
  <br />
  {% endfor %}
</div>
{% endblock %}
