body{
    background-color: rgb(22, 22, 22);
}
.navbar-trans {
    background-color: transparent;
    border: none;
    transition: top 1s ease;
  }
  /*double row*/
  .navbar-doublerow > .navbar{
      display: block;	
      padding: 0px auto;
      margin: 0px auto;
      min-height: 25px;
  }
  .navbar-doublerow .nav{
      padding: 0px auto;
  }
  .navbar-doublerow .dividline{
    margin: 5px 100px;
    padding-top: 1px;
    background-color: inherit;
  }
  /*top nav*/
  .navbar-doublerow .navbar-top ul>li>a {
      padding: 10px auto;
      font-size: 12px;
  } 
  /*down nav*/
  .navbar-doublerow .navbar-down .navbar-brand {
      padding: 0px auto;
      float: left;
      color: white;
      font-size: 32px;
      font-weight: bold;
  }
  .navbar-doublerow .navbar-down ul>li>a{
      font-size: 16px;
      color: rgb(207, 207, 207);
      transition: border-bottom .2s ease-in , transform .2s ease-in-out;
  }
  .navbar-doublerow .navbar-down ul>li>a:hover{
      border-bottom: 1px solid rgb(255, 255, 255);
      color: rgb(255, 255, 255);
  }
  .navbar-doublerow .navbar-down .dropdown{
      padding: 5px;
      color: #000;
  }
  .navbar-doublerow .navbar-down .dropdown ul>li>a,
  .navbar-doublerow .navbar-down .dropdown ul>li>a:hover{
    color: rgb(0, 0, 0);
    border-bottom: none;
  }
  .navbar-doublerow.navbar-trans.afterscroll {
     top:-50px;
  }	
  .flex-container {
      display: flex;
      justify-content: space-between;
  }
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.062);
    border: 1px solid rgb(255 255 255 / 29%);
}
  .dropdown-menu {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.062);
    border: 1px solid rgb(255 255 255 / 29%);
  }

.navbar-nav>li>.dropdown-menu {
    margin-top: -6px;
    margin-left: 75px;
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
}
.navbar-doublerow .navbar-down .dropdown ul>li>a, .navbar-doublerow .navbar-down .dropdown ul>li>a:hover {
    color: rgb(255 255 255);
    /* border-radius: 25px; */
    background-color: transparent;
    border-bottom: none;
}

  /*text*/
  .text-white,.text-white-hover:hover{color: rgb(207, 207, 207) !important}
  /*fontcolor*/
  .light-grey {color:#000!important;background-color:#E6E9ED!important}
