body {
  font-family: 'Poppins', sans-serif;
  color: black;
}
.footer{
  border-top: 2px solid #00043C;
  margin-top: 4em;
}

/* scroll bars */
html::-webkit-scrollbar {
    width: 1px;
}
html::-webkit-scrollbar-track {
    background-color: transparent;
}
html::-webkit-scrollbar-thumb {
    z-index: 0;
    background-color: transparent;
    border-radius: 1px;
}
/* end of scroll bars */

/*navbar*/
.sidenav-logo #logo{
  position: absolute;
  margin-left: 3em;
}
.sidenav-logo #text{
  position: absolute;
  margin-left: 4.5em;
  margin-top: 1.5em;
}
.sidenav{
    width: 100%;
    height: 3.5em;
    font-size: 1.5em;
    text-align: end;
    margin-bottom: 3em;
    padding-right: 3em;
    background-color: #3F69FF;
    box-shadow: 0px 3px 13px 3px grey;
}
.sidenav img{
    vertical-align: middle;
    text-align: start;
}
.sidenav a{
  color: white;
  margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-right: 0.9em;
    padding: 0.3em 0.6em;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 30px;
  }
  .sidenav a:hover {
    background-color: #0057FF;
  }
  /*end of navbar*/
  
  .fade-in-content {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .btn {
    width: 100px;
  }
  .clickme {
    cursor: pointer;
  }
  .q-auth {
    font-size: smaller;
    font-style: italic;
    color: rgb(102, 101, 101);
  }
  .msg-form-faq {
    height: 133px;
    width: 707px;
    padding: 6px 12px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .name-form-faq {
    width: 190px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .container {
    align-items: center;
  }
  
  .socialMediaLink {
    width: 50px;
    height: 50px;
  }
  
  iframe {
    margin: auto;
    display: block;
    text-align: center;
    border: 0;
  }
  
  .carousel{
    width:  75%;
    height: 75%;
    margin: auto;
  }
  .carousel-inner {
    background-color: rgb(75, 75, 75);
    transition: 0s;
  }
  .carousel-text {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rbg(0, 0, 0);
  }
  input[type=file] {
    display: block;
    margin-top: 1.4em;
    margin-left: 4vw;
    margin-bottom: 2em;
  }
  .column {
    flex: 25%;
    padding: 5px;
  }
  .flex-container {
    display: flex;
    flex-flow: row;
  }
  .popular_item{
    width:  75%;
  }
  .popular_text{
    text-align: justify;
  }
  
  /*search*/
.index-upper{
  text-align: center;
  position: relative;
}
.index-upper #index_pic{
  width: 90em;
  height: fit-content;
  margin-top: -4.5em;
}
.search-box{
  width: 71em;
  height: 30em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: -8em;
  margin-bottom: 5em;
  position: relative;
  border-radius: 70px;
  flex-direction: row;
  justify-content: center;
  background-color: #3f69ff;
  box-shadow: 0px 0px 20px 1px grey;
}
.search-field{
  background: white;
  border-radius: 40px;
  flex: 0 0 20em;
  margin-left: 1em;
  margin-right: 1em;
  box-shadow: 0px 2px 15px 2px #002f8e9a;
}
#make{
  margin-top: 2em;
  margin-left: 3em;
  height: 14em;
  flex-grow: 5;
  margin-bottom: 1em;
}
#model{
  margin-top: 2em;
  flex-basis: 21em;
  height: 10em;
  margin-bottom: 1em;
}
#color{
  margin-top: 2em;
  margin-right: 3em;
  flex-basis: 12em;
  height: 10em;
  margin-bottom: 1em;
}
#registration{
  margin-left: 3em;
  height: 9em;
  flex-grow: 5;
}
#price{
  margin-top: -5em;
  flex-basis: 15em;
  height: 14em;
}
#mileage{
  margin-right: 3em;
  margin-top: -5em;
  height: 14em;
  flex-basis: 15em;
}
#make-text,
#model-text,
#color-text,
#registration-text,
#price-text,
#mileage-text{
  color: #3F69FF;
  text-align: start;
  margin-left: 1em;
  font-weight: bolder;
}
#color-text,
#price-text,
#mileage-text{
  margin-left: 0em;
  text-align: center;
}
#make-text{
  font-size: 4em;
  margin-left: 0.5em;
}
#model-text{
  font-size: 3em;
}

/*select box*/
.select-make-box{
  width: 80%;
  margin-left: 1em;
  display: flex;
  font-size: 2em;
  text-align: start;
  font-weight: bolder;
  position: relative;
  flex-direction: column;
}
.select-make-box .options-container{
  background: white;
  color: #3F69FF;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  border: 0.4em solid #9DB3FF;
  border-radius: 50px;
  overflow: hidden;

  order: 1;
}
.selected{
  background: white;
  position: relative;
  border-radius: 50px;
  border: 0.4em solid #9DB3FF;
  margin-bottom: 0.5em;
  color: #3F69FF;
  order: 0;
}
.selected::after{
  content: "";
  background: url("../dropdown.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 0.7em;
  right: 0.8em;
  top: 0.67em;

  transition: all 0.5s;
}
.select-make-box .option,
.selected{
  padding: 0.2em 1em;
  cursor: pointer;
  transition: 0.5s;
}
.select-make-box label{
  cursor: pointer;
}
.select-make-box .option:hover{
  color: #002f8e;
  background-color: #f5f5f5;
}
.select-make-box .option .vehicle{
  display: none;
}
.select-make-box .options-container.active{
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}
.select-make-box .options-container.active + .selected::after{
  background-image: url("../dropdown_active.png");
}
.select-make-box .options-container::-webkit-scrollbar{
  width: 0px;
  background-color: transparent;
  border-radius: 50px;  
}
.select-make-box .options-container::-webkit-scrollbar-thumb{
  background-color: #002f8e;
  border-radius: 50px;
}
/*end of select box*/

/*end of search*/

/*blog*/
.blog{
  width: 70em;
  height: 31em;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 6em;
  color: white;
  border-radius: 70px;
  background: #3F69FF;
  box-shadow: 0px 0px 20px 1px grey;
}
#non-btn{
  text-decoration: none;
  color: inherit;
}
#non-btn:hover{
  color: inherit;
}
.header-text{
  font-size: 4em;
  cursor: default;
  margin-left: 0.7em;
  margin-top: 0.6em;
  margin-right: 11.435em;
  display: inline;
  font-weight: bold;
  padding-bottom: 0.1em;
  padding-right: 0.3em;
  padding-left: 0.3em;
  border-radius: 30px;
  transition: 0.5s;
}
#admin-new{
  cursor: default;
  display: inline;
  transition: 0.5s;
  color: transparent;
  margin-left: 0.5em;
  font-size: xx-small;
  text-decoration: none;
}
.header-text:hover{
  margin-right: 9.3em;
  background-color: #0057FF;
}
#user:hover{
  margin-right: 11.435em;
  background-color: #0057FF;
}
.header-text:hover #admin-new{
  color: white;
  cursor: pointer;
  font-size: smaller;
}
.blog #more {
  color: white;
  font-size: 6em;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}
.blog-box{
  display: inline-flex;
}
.story-box{
  width: 220px;
  margin: 3.82em;
  color: black;
  cursor: default;
  margin-top: 2em;
  padding-top: 1.6em;
  font-weight: bold;
  padding-left: 4em;
  margin-bottom: 3em;
  padding-right: 4em;
  text-align: center;
  padding-bottom: 1em;
  background: white;
  border-radius: 30px;
  box-shadow: 0px 2px 15px 2px #002f8e;
  transition: 0.5s;
}
.story-box:hover{
  box-shadow: 0px 2px 10px 2px #b1b1b1;
}
.box-edit{
  color: black;
  padding: 0.5em;
  margin-top: 1em;
  padding-top: 0.7em;
  margin-right: -10em;
  border-radius: 60px;
  padding-bottom: 0.7em;
  transition: 0.5s;
}
.box-user{
  padding: 0.5em;
  cursor: default;
  margin-top: 1em;
  color: transparent;
  padding-top: 0.7em;
  margin-right: -10em;
  border-radius: 60px;
  padding-bottom: 0.7em;
}
.box-user:hover{
  cursor: default;
  color: transparent;
}
.box-edit:hover{
  color: black;
  box-shadow: 0px 0px 3px 1px #7f7f7f;
}
.blog-title{
  color: black;
}
.blog-title-solo{
  display: flex;
  color: black;
  padding-top: 50%;
}
.center-img{
  display: flex;
  justify-content: center;
  height: 130px;
  align-items: center;
}
.blog-pic{
  display: block;
  cursor: pointer;
  max-width: 100px;
  max-height: 100px;
  position: absolute;
}
/*end of blog*/

.collapsible{
  border-radius: 25px;
  background-color: #00043C;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsibleBody {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.rssFeed{
  margin-bottom: 20px;
}
.collapsible:after {
  font-family: "Font Awesome 5 Free";
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  float: right;
  margin-left: 5px;
  color: #DA8AFF;
  font-weight: 900;
}
.pressed:after {
  font-family: "Font Awesome 5 Free";
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  float: right;
  margin-left: 5px;
  color: #DA8AFF;
  font-weight: 900;
}


.hr .custom-hr {
  background-color: #00043C;
}


.text-muted{
  margin-left: 10px;
}

.opening-times{
  display:inline-block;
  vertical-align: middle;
}

.thumbnail{
  width: 33%;
}

.one-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}
.order-overview{
  border-bottom: 1px solid #000;
}

.cart-button{
  text-align: center;
}
.add-to-cart{
  background-color: #3F69FF;
  color: white;
  width: 25%;
  height: 25%;
}


.rnn{
  width: 30%;
}

.payment_v{
  height: 30px;
}
.payment_p{
  height: 65px;
}