@font-face {
  font-family: "SF Mono";
  src: url("../SFM.ttf");
}
body {
  font-family: "SF Mono";
  color: black;
  /*background-color: #d4d4d4;*/
}

.app-content{
  margin-top: 90px;
}

.popular_items{
  width: 75%;
}
.popular_text{
  text-align: justify;
}


.navbar-custom{
  border-bottom: 2px solid #00043C;
  background-color: white;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
  color: #00043C; /*dark blue color from logo*/
  /*color: #DA8AFF;*/ /*pink color from logo*/
  padding-top: 0;
  font-size: 15px;
}

.navbar-brand{
  margin-top: 10px;
  margin-bottom: 20px;
}
.navbar-text{
  margin-top: 30px;
  font-size: 20px;
}
.navbar-text:hover{
  color: #DA8AFF;
  text-decoration: none;
}

.footer{
  border-top: 2px solid #00043C;
}


.blog {
  padding: 15px;
  border-radius: 25px;
  background-color: #979797;
  margin-left: 0;
  margin-top: 30px;
  margin-bottom: 40px;
}
.blog-post {
  margin-bottom: 30px;
  border: 2px solid rgb(95, 95, 95);
  background-color: #555;
  padding: 10px;
  border-radius: 15px;
}

.container {
  align-items: center;
}

.socialMediaLink {
  width: 50px;
  height: 50px;
}

iframe {
  margin: auto;
  display: block;
  text-align: center;
  border: 0;
}

.carousel{
  width:  75%;
  height: 75%;
  margin: auto;
}
.carousel-inner {
  background-color: rgb(75, 75, 75);
  transition: 0s;
}
.carousel-text {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rbg(0, 0, 0);
}

.column {
  flex: 25%;
  padding: 5px;
}

.flex-container {
  display: flex;
  flex-flow: row;
}


.collapsible, .collapsibleQ{
  border-radius: 25px;
  background-color: #00043C;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.rssFeed, .questionCol {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.rssFeed{
  margin-bottom: 20px;
}
.collapsible:after, .collapsibleQ:after {
  font-family: "Font Awesome 5 Free";
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  float: right;
  margin-left: 5px;
  color: #DA8AFF;
  font-weight: 900;
}
.pressed:after, .pressedQ:after {
  font-family: "Font Awesome 5 Free";
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  float: right;
  margin-left: 5px;
  color: #DA8AFF;
  font-weight: 900;
}


.hr .custom-hr {
  background-color: #00043C;
}


.text-muted{
  margin-left: 10px;
}

.opening-times{
  display:inline-block;
  vertical-align: middle;
  margin-left: 30px;
}