{% extends "base.html" %} 
{% import 'bootstrap/wtf.html' as wtf %} 
{% block app_content %}

<div class="row fade-in-content">
    <div class="posts">
        <h2 style="text-align: center">All Posts</h2>
        <p style="text-align: center;">
        Here you can read all of the posts by our writers
        </p>

        {%for p in posts%}
            <div class="___">
                {% if current_user.admin %}
                <a href="{{ url_for('main.editPost', id = p.id) }}" 
                class="box-edit">edit</a>
                {% else %}
                <a class="box-user">edit</a>
                {% endif %}
                
                {%if p.picture != 'default.jpg' %}
                <div class="center-img">
                    <img href="{{ url_for('main.getPost', id = p.id) }}" class="blog-pic" 
                    src="{{ url_for('static', filename='post_pics/' + p.picture) }}">
                </div>
                    <a href="{{ url_for('main.getPost', id = p.id) }}" class="___">{{ p.title }}</a>
                {% else %}
                    <a href="{{ url_for('main.getPost', id = p.id) }}" class="___">{{ p.title }}</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

  {% endblock %}
    