alembic==1.6.5
asn1==2.4.1
asn1crypto==1.4.0
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
blinker==1.4
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click8==8.0.1
colorama==0.4.4
coverage==5.5
crypto==1.4.1
cryptography==3.4.8
Django==3.2.6
dnspython==2.1.0
dominate==2.6.0
email-validator==1.1.3
enum-compat==0.0.3
favicon==0.7.0
Flask==2.0.1
Flask-Admin==1.5.8
Flask-Bootstrap==3.3.7.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Moment==1.0.2
flask-paginate==0.8.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
idna==3.2
image==1.5.33
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
lib==3.0.0
Mako==1.1.5
MarkupSafe==2.0.1
Naked==0.1.31
nose2==0.10.0
packaging==21.0
Pillow==8.3.2
pluggy
pycparser==2.20
PyJWT==1.7.1
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
shellescape==3.8.1
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.23
sqlparse==0.4.1
tokenizer==3.2.0
toml==0.10.2
touch==2020.12.3
twilio==6.63.1
urllib3==1.26.6
values==2020.12.3
visitor==0.1.3
Werkzeug==2.0.1
WTForms==2.3.3
XStatic-jQuery==3.5.1.1
