<div class="row fade-in-content">
  <form
    class="review-form"
    method="POST"
    action="{{ url_for('main.catReviews') }}"
  >
    <div class="search-cat-box">
      <div class="search-field" id="cat">
        <label for="category" id="cat-text">search by make</label>
        <div class="select-box-content">
          <select class="select-cat-box" name="category" id="category">
            <option class="option" name="any">any</option>
            {% for get in rev %}
            <option class="option" name="{{get.category}}">
              {{get.category}}
            </option>
            {% endfor %}
          </select>
          <input class="search-btn" type="submit" value="search" />
        </div>
      </div>
    </div>
  </form>
</div>
