{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="container">
	<div class="car-header">
		<div class="car-title one-row">
			<h2> 
				{% for m in makes %}
			        {% if m.make_id == car.make_id %}
			           	{{m.make_name}}
			      	{% endif %}
			    {% endfor %}
			    {% for mod in models %}
			        {%if mod.model_id == car.model_id %}
			            {{mod.model_name}}
			        {% endif %}
			    {% endfor %}
			</h2>
			<h2 style="color: red;" align="right"> £{{car.price}} </h2>
		</div>
	    <p>{{car.year}} <span>&#8226;</span> {{car.mileage}} miles <span>&#8226;</span> {{car.fuel_type}} <span>&#8226;</span> {{car.gear_type}} </p>
	</div>
	<div class="flex-container">
		<img class="thumbnail" src="{{ url_for('static', filename='car_pics/' + car.pictures + '/1.jpg') }}" >
		<img class="thumbnail" src="{{ url_for('static', filename='car_pics/' + car.pictures + '/2.jpg') }}" >
		<img class="thumbnail" src="{{ url_for('static', filename='car_pics/' + car.pictures + '/3.jpg') }}" >
	</div>

	<div class="car-description">
		<h4> Description: </h4>
		<p> {{car.description}} </p>
		<br>
	</div>

	<!-- buy now button here -->
	<div class="rounded_btn_div">
		<a  href="{{ url_for('main.overview', id=car.id) }}"><button class="rounded_btn"> Buy Now </button> </a>
	</div>
	<br>
	<br>
	
	<!-- car ratings here -->
	<!-- <div class="car-ratings">
		<h4> Reviews and Ratings for this model: </h4>
	</div> --> 

	<!-- car history here -->
	<button type="button" class="collapsible" style="font-size: 17px;">
		Car History Check
	</button>
	<div class="collapsibleBody">
		{% for h in history %}
			{% if h.vehicle_id == car.id %}
				<h4> Recorded as stolen:   {{h.stolen}} </h4>
				<h4> Recorded as scrapped: {{h.scrapped}} </h4>
				<h4> Insurance write off: {{h.write_off}}</h4>
				<h4> Mileage discrepancies: {{h.mileage_disc}}</h4>
				<h4> Color Change: {{h.color_change}} </h4>
				<h4> Outstanding finance: {{h.finance}} </h4>
			{% endif %}
		{% endfor %}
		<h4> <a href="https://www.autocheck.co.uk/">
			Click here to buy a full history check
		</a></h4>
		<h4> <a href="https://www.gov.uk/check-mot-history">
			Click here for an MOT check
		</a></h4>
	</div>

	</div>
</div>

{% endblock %}