{% extends "base.html" %} 
{% block app_content %}

{% include 'vehicles/car_reviews.html' %}

<div class="row fade-in-content">
    {%for r in ctrev%}
    <div class="review-container">
        <a href="{{ url_for('main.review', id = r.id) }}" class="review-body" id="rev-img">
            {%if r.image != 'default.jpg' %}
            <div class="center-img" id="review-image">
                <img
                src="{{ url_for('static', filename='car_review_pics/' + r.image) }}"
                />
            </div>
            {% endif %}
            <div class="review-text">
                <p class="review-title">{{ r.title }}</p>
                <p class="review-prev-text">{{ r.preview_text }}</p>
                <p class="review-cat">{{ r.category }}</p>
            </div>
        </a>
    </div>
    {%endfor%}
</div>
{% endblock %}