{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block
app_content %}

<div class="row fade-in-content">
  {% for r in result %}
  <div class="car-box gallery">
    <a href="{{ url_for('main.vehicle', id=r.id) }}">
      <img
        class="car_img"
        src="{{ url_for('static', filename='car_pics/' + r.pictures + '/1.jpg') }}"
      />
    </a>
    <div class="desc">
      <p>
        Make: {{make.get(r.make_id)}} <span>&#8226;</span> Model:
        {{model.get(r.model_id)}}
      </p>
      <p>
        Reg. year: {{r.year}} <span>&#8226;</span> Mileage: {{r.mileage}}
        <span>&#8226;</span> Price: £{{r.price}}
      </p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
