{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block
app_content %}

<div class="row fade-in-content">
  <div>
    {% for car in fcars %}
    <div class="car-box gallery">
      <a href="{{ url_for('main.vehicle', id=car.id) }}">
        <img
          class="car_img"
          src="{{ url_for('static', filename='car_pics/' + car.pictures + '/1.jpg') }}"
        />
      </a>
      <div class="desc">
        <p>Make: {{make}} <span>&#8226;</span> Model: {{model}}</p>
        <p>
          Reg. year: {{car.year}} <span>&#8226;</span> Mileage: {{car.mileage}}
          <span>&#8226;</span> Price: £{{car.price}}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
