{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

	<div class="col-md-4 col-md-offset-4">

		<form class="form form-horizontal" method="post" role="form">
			{{ form.hidden_tag() }}
			{{ wtf.form_errors(form, hiddens="only") }}
			<h3 style="text-align:center;"> Please enter your payment details </h3>
			{{wtf.form_field(form.name)}}
			{{wtf.form_field(form.sortCode)}}
			{{wtf.form_field(form.accountNum)}}

			<br>

			<h3 style="text-align: center;"> Please enter the address we can collect the car from </h3>
			{{wtf.form_field(form.address_one)}}
			{{wtf.form_field(form.address_two)}}
			{{wtf.form_field(form.city)}}
			{{wtf.form_field(form.postcode)}}

			<br>

			{{wtf.form_field(form.submit, class="btn btn-info btn-block")}}
		</form>

	</div>

{% endblock %}


